<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEtudiantLabel">Create or edit a Etudiant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.etudiant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.etudiant.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_iNe">Numero Etudiant</label>
            <input type="text" class="form-control" name="iNe" id="field_iNe"
                   ng-model="vm.etudiant.iNe" ng-readonly="vm.etudiant.id != null" required
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                   ng-model="vm.etudiant.nom" ng-readonly="vm.etudiant.id != null" required
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                   ng-model="vm.etudiant.prenom" ng-readonly="vm.etudiant.id != null" required
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sexe">Sexe</label>
            <select class="form-control" name="sexe" ng-model="vm.etudiant.sexe" id="field_sexe"
                    ng-disabled="vm.etudiant.id != null" required>
                <option value="HOMME">HOMME</option>
                <option value="FEMME">FEMME</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                   ng-model="vm.etudiant.adresse" required
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                   ng-model="vm.etudiant.ville" required
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codepostal">Code Postal</label>
            <input type="text" class="form-control" name="codepostal" id="field_codepostal"
                   ng-model="vm.etudiant.codepostal" required
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telperso">Téléphone</label>
            <input type="text" class="form-control" name="telperso" id="field_telperso"
                   ng-model="vm.etudiant.telperso"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telmobile">Téléphone Mobile</label>
            <input type="text" class="form-control" name="telmobile" id="field_telmobile"
                   ng-model="vm.etudiant.telmobile"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telmobile">Mail</label>
            <input type="text" class="form-control" name="telmobile" id="field_mail"
                   ng-model="vm.etudiant.mail"
            />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
