<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlternanceLabel">Create or edit a Alternance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.alternance.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.alternance.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_datedebut">Datedebut</label>
            <div class="input-group">
                <input id="field_datedebut" type="text" class="form-control" name="datedebut"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.alternance.datedebut"
                       is-open="vm.datePickerOpenStatus.datedebut"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datedebut')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_datefin">Datefin</label>
            <div class="input-group">
                <input id="field_datefin" type="text" class="form-control" name="datefin"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.alternance.datefin"
                       is-open="vm.datePickerOpenStatus.datefin"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('datefin')"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sujet">Sujet</label>
            <input type="text" class="form-control" name="sujet" id="field_sujet"
                   ng-model="vm.alternance.sujet"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_service">Service</label>
            <input type="text" class="form-control" name="service" id="field_service"
                   ng-model="vm.alternance.service"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_details">Details</label>
            <input type="text" class="form-control" name="details" id="field_details"
                   ng-model="vm.alternance.details"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_jours">Jours</label>
            <input type="number" class="form-control" name="jours" id="field_jours"
                   ng-model="vm.alternance.jours"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_heures">Heures</label>
            <input type="number" class="form-control" name="heures" id="field_heures"
                   ng-model="vm.alternance.heures"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_versement">Versement</label>
            <input type="number" class="form-control" name="versement" id="field_versement"
                   ng-model="vm.alternance.versement"
            />
        </div>

        <div class="form-group">
            <label for="field_etudiant">Etudiant</label>
            <select class="form-control" id="field_etudiant" name="etudiant" ng-model="vm.alternance.etudiant"
                    ng-options='etudiant as (etudiant.prenom+" "+etudiant.nom) for etudiant in vm.etudiants track by etudiant.id'>
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_entreprise">Entreprise</label>
            <select class="form-control" id="field_entreprise" name="entreprise" ng-model="vm.alternance.entreprise"
                    ng-options="entreprise as entreprise.nom for entreprise in vm.entreprises track by entreprise.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_encadrant">Encadrant</label>
            <select class="form-control" id="field_encadrant" name="encadrant" ng-model="vm.alternance.encadrant"
                    ng-options='contact as (contact.prenom+" "+contact.nom) for contact in vm.contacts track by contact.id'>
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_representant">Representant</label>
            <select class="form-control" id="field_representant" name="representant"
                    ng-model="vm.alternance.representant"
                    ng-options='contact as (contact.prenom+" "+contact.nom) for contact in vm.contacts track by contact.id'>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
