<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFiliereLabel">Create or edit a Filiere</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.filiere.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.filiere.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_libelle">Libelle</label>
            <input type="text" class="form-control" name="libelle" id="field_libelle"
                   ng-model="vm.filiere.libelle"
            />
        </div>

        <div class="form-group">
            <label for="field_diplome">Diplome</label>
            <select class="form-control" id="field_diplome" name="diplome" ng-model="vm.filiere.diplome"
                    ng-options="diplome as diplome.id for diplome in vm.diplomes track by diplome.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_responsable">Responsable</label>
            <select class="form-control" id="field_responsable" name="responsable" ng-model="vm.filiere.responsable"
                    ng-options="enseignant as enseignant.id for enseignant in vm.enseignants track by enseignant.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
