<div>
    <h2>Donnees Entreprises</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="donnees-entreprise.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                        Create new Donnees Entreprise
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="Query">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Datemodif</span></th>
                <th><span>Adresse</span></th>
                <th><span>Ville</span></th>
                <th><span>Codepostal</span></th>
                <th><span>Tel</span></th>
                <th><span>Url</span></th>
                <th><span>Commentaire</span></th>
                <th><span>Mail</span></th>
                <th><span>Entreprise</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donneesEntreprise in vm.donneesEntreprises track by donneesEntreprise.id">
                <td><a ui-sref="donnees-entreprise-detail({id:donneesEntreprise.id})">{{donneesEntreprise.id}}</a></td>
                <td>{{donneesEntreprise.datemodif | date:'medium'}}</td>
                <td>{{donneesEntreprise.adresse}}</td>
                <td>{{donneesEntreprise.ville}}</td>
                <td>{{donneesEntreprise.codepostal}}</td>
                <td>{{donneesEntreprise.tel}}</td>
                <td>{{donneesEntreprise.url}}</td>
                <td>{{donneesEntreprise.commentaire}}</td>
                <td>{{donneesEntreprise.mail}}</td>
                <td>
                    <a ui-sref="entreprise-detail({id:donneesEntreprise.entreprise.id})">{{donneesEntreprise.entreprise.id}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="donnees-entreprise-detail({id:donneesEntreprise.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="donnees-entreprise.edit({id:donneesEntreprise.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="donnees-entreprise.delete({id:donneesEntreprise.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
