<div ng-cloak>
    <h1>Bonjour {{vm.etudiant.prenom}} {{vm.etudiant.nom}}</h1>
    <div ng-switch="vm.toogle">
        <hr>
    <dl ng-switch-when="true" class="dl-horizontal jh-entity-details">
        <dt><span>Numero Etudiant</span></dt>
        <dd>
            <span>{{vm.etudiant.iNe}}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
            <span>{{vm.etudiant.nom}}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
            <span>{{vm.etudiant.prenom}}</span>
        </dd>
        <dt><span>Sexe</span></dt>
        <dd>
            <span>{{vm.etudiant.sexe}}</span>
        </dd>
        <dt><span>Adresse</span></dt>
        <dd>
            <span>{{vm.etudiant.adresse}}</span>
        </dd>
        <dt><span>Ville</span></dt>
        <dd>
            <span>{{vm.etudiant.ville}}</span>
        </dd>
        <dt><span>Code Postal</span></dt>
        <dd>
            <span>{{vm.etudiant.codepostal}}</span>
        </dd>
        <dt><span>Téléphone</span></dt>
        <dd>
            <span>{{vm.etudiant.tel}}</span>
        </dd>
        <dt><span>Mobile</span></dt>
        <dd>
            <span>{{vm.etudiant.mobile}}</span>
        </dd>
        <dt><span>Mail</span></dt>
        <dd>
            <span>{{vm.etudiant.mail}}</span>
        </dd>
    </dl>
        <div ng-switch-when="false" class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Datedebut</span></th>
                    <th><span>Datefin</span></th>
                    <th><span>Sujet</span></th>
                    <th><span>Service</span></th>
                    <th><span>Details</span></th>
                    <th><span>Jours</span></th>
                    <th><span>Heures</span></th>
                    <th><span>Versement</span></th>
                    <th><span>Etudiant</span></th>
                    <th><span>Referent</span></th>
                    <th><span>Entreprise</span></th>
                    <th><span>Encadrant</span></th>
                    <th><span>Responsable</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stage in vm.stages track by stage.id">
                    <td><a ui-sref="stage-detail({id:stage.id})">{{stage.id}}</a></td>
                    <td>{{stage.datedebut | date:'mediumDate'}}</td>
                    <td>{{stage.datefin | date:'mediumDate'}}</td>
                    <td>{{stage.sujet}}</td>
                    <td>{{stage.service}}</td>
                    <td>{{stage.details}}</td>
                    <td>{{stage.jours}}</td>
                    <td>{{stage.heures}}</td>
                    <td>{{stage.versement}}</td>
                    <td>
                        <a ui-sref="etudiant-detail({id:stage.etudiant.id})">{{stage.etudiant.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="enseignant-detail({id:stage.referent.id})">{{stage.referent.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="entreprise-detail({id:stage.entreprise.id})">{{stage.entreprise.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact-detail({id:stage.encadrant.id})">{{stage.encadrant.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="contact-detail({id:stage.responsable.id})">{{stage.responsable.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="stage-detail({id:stage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    <button class="btn btn-primary" ng-click="vm.toogle = !vm.toogle">
       {{vm.getButtonText()}}
    </button>
</div>
