<div>
    <h2>Etudiant Diplomes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="etudiant-diplome.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                        Create new Etudiant Diplome
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="Query">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Annee</span></th>
                <th><span>Note</span></th>
                <th><span>Mention</span></th>
                <th><span>Etudiant</span></th>
                <th><span>Diplome</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="etudiantDiplome in vm.etudiantDiplomes track by etudiantDiplome.id">
                <td><a ui-sref="etudiant-diplome-detail({id:etudiantDiplome.id})">{{etudiantDiplome.id}}</a></td>
                <td>{{etudiantDiplome.annee}}</td>
                <td>{{etudiantDiplome.note}}</td>
                <td>{{etudiantDiplome.mention}}</td>
                <td>
                    <a ui-sref="etudiant-detail({id:etudiantDiplome.etudiant.id})">{{etudiantDiplome.etudiant.id}}</a>
                </td>
                <td>
                    <a ui-sref="diplome-detail({id:etudiantDiplome.diplome.id})">{{etudiantDiplome.diplome.id}}</a>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="etudiant-diplome-detail({id:etudiantDiplome.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="etudiant-diplome.edit({id:etudiantDiplome.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                        <button type="submit"
                                ui-sref="etudiant-diplome.delete({id:etudiantDiplome.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
